.avatar-children{
    width: 10vw;
    background-color:#c2b092;
    border-radius: 50%;
    box-shadow: 2px 2px 2px grey;
    
}

.App-children{
    display: flex;
    flex-direction: column;
    background-color: #a1cae2;
    padding: 2vh 7vh;
    margin: 2vh;
    border-radius: 25%;
    box-shadow: 2px 2px 2px grey;
}