

span{
    margin: 2vh;
}


#person-detail-container{
    display: flex; 
    align-items: center; 
    justify-content: center;
    background-color:#a09074;
    padding: 1%;
    
}
.person-info{
    display: flex;
    flex-direction: column;
  
}
.person-name{
    display: flex;
    flex-direction: column;
}

.avatar-person{
    background-color:#c2b092;
    border-radius: 25%;
    width: 15vw;
    box-shadow: 2px 2px 2px grey;
}

.friends-info{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
#friends-container{
    
    background-color: #c2b092;
    padding: 2vh;

}
#children-container{
    display: flex;
    flex-direction: column;
    background-color: #cfc5a5;
}
.children-info{
    display: flex;
    justify-content: space-around;
}
